body{
    background-color: rgb(46, 45, 45);
}
.form-control{
    background-color: #404040!important;
}
i{
    color: rgb(189, 189, 189);
}
.list-group-item{
    background-color: #404040!important;
    color: rgb(189, 189, 189)!important;
}
.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}
.list-group::-webkit-scrollbar-track {
    border: 1px solid #000;
    padding: 2px 0;
    background-color: #404040;
  }
  
  .list-group::-webkit-scrollbar {
    width: 10px;
  }
  
  .list-group::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 1px solid #000;
  }

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
